<div>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
            intent="WELCOME"
            chat-title="Bot bancario"
            agent-id="c0f0f3f0-bcbe-479d-b1f9-31f52aeec630"
            language-code="es"
    ></df-messenger>
</div>